
body {
    background: #FFAAA5;
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

h1 {
    font-family: Bookman;
    font-size: 40px;
}

.new-task-title {
    font-family: Bookman;
font-size: 26px;
color: white;
}

.container {
    max-width: 400px;
}

input[type=text],
input[type=text]:focus{
    color: grey;
    border: none;
    background: rgba(0, 0, 0, 0, 0.2);
    max-width: 400px;
}

.task li {
    background: #FFAAA5;
}

.delete {
    cursor: pointer;
}

.filtered{
    display: none !important;
}

.plant {
    position: fixed;
   top: 1%;
    left: -1%;
    width: 250px;
    margin: 35px 35px;

}

.coffee {
    position: fixed;
    bottom: 15%;
    right: -1%;
    width: 250px;
    margin: 35px 35px;

}